.App {
  background-color: #1d488c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#app {
  background: #1d488c;
}

.regBackground {
  margin: 0 auto;
  padding-top: 60px;
  max-width: 1300px !important;
}

.regBackground .btn {
  width: 327px;
  background: #f4f7fc;
  height: 50px;
  text-align: center;
  padding: 12px;
  color: #30478a;
  display: inline-block;
  border-radius: 0;
}

h3.title {
  color: #fff;
  padding: 23px 0px 0px 0px;
  text-align: left;
}

hr.borderLine {
  color: #fff;
  background: #fcfdff;
}

.userTypeBg {
  background: #143467;
  /* width: 1078px; */
  margin: 0 auto !important;
  padding: 10px 0px 0px 0px;
  height: 102px;
  color: #fff;
}
span.typeGrid > .btn {
  background: #fff;
  height: 54px;
  display: inline-block;
  width: 56px;
}
span.typeGrid > .btn:hover {
  background: #0062cc;
  color: #fff;
}
span.typeGrid > .btn:active {
  background: #0069d9;
  color: #fff;
}
span.typeGrid > .btn:checked {
  background: #fae;
}
.typeCheck {
  display: none;
}
.serviceImgGrid {
  text-align: center;
  width: calc(100% / 7);
  font-weight: 600;
}
input.input {
  background: #fff;
  border: none;
  height: 40px;
}
span.input-group-addon.iconclr {
  background: #349727;
  padding: 2px;
  color: #fff;
}

.btn.nextBtn {
  width: auto;
  padding: 0px 20px 0px 20px;
  color: #fff;
  font-weight: bold;
  background: #349727;
  display: inline-block;
  margin: 15px 0px 10px 12px;
  text-align: center;
}
.nextServiceBtn {
  text-align: right;
}
label.btn.checked {
  background: #349727;
  color: #fff;
}
button.btn.active {
  background: #349727;
  color: #fff;
}
.fieldStyle {
  margin: 0px 0px 16px 0px;
}
label.custom-file-label {
  text-align: left;
  height: 40px;
  padding-top: 8px;
}
.custom-file-label::after {
  padding: 0px;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Attach";
  padding: 8px;
  height: 39px;
  border: none;
  background: #b4ffba;
}
.custom-file {
  height: 40px;
}

/* button#details:after {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #349727;
  border-style: solid;
  border-width: 25px 0px 25px 25px;
  left: 93%;
  top: 0;
}
button#service:after {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #349727;
  border-style: solid;
  border-width: 25px 0px 25px 25px;
  left: 93%;
  top: 0;
} */
.splitField:nth-child(even) {
  padding-left: 0px;
  overflow: hidden;
}

/* checkbox Style*/
.checkGroup .btn {
  background: #babcbc;
  width: 35px;
  margin: 2px 5px 2px 0px;
  height: 36px;
  padding: 5px 0px 0px 0px;
}

.checkGroup .btn .active {
  background: #123;
}

.checkGroup {
  background: #fff;
  text-align: right;
}
.checkGroup select {
  height: 40px;
  font-size: 14px;
}
.iconclr.required {
  background: #d1281c !important;
}
.input-group h4 {
  color: #fff;
  text-align: center;
}
.custom-checkbox {
  text-align: left;
  color: #fff;
}

/*  Preview forms Css */

.cardWrapper {
  background: 2d4974bf;
  min-height: 400px;
}

.img {
  width: 140px;
  height: 175px;
  background: yellow;
  display: inline-block;
}

.personalDetails {
  min-height: 175px;
  display: inline-block;
  width: 100%;
}

.contactDetails {
  width: auto;
}

.attachmentDetails {
  width: auto;
  min-height: 150px;
}

.personalDetails img {
  float: left;
  width: 136px;
  margin-right: 24px;
}

.personalDetails p {
  display: block;
  padding: 12px 0px 5px 10px;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}
p > i.glyphicon span {
  color: #2ee116;
  font-size: 30px;
  padding-right: 6px;
}

.attachmentDetails img {
  float: left;
  height: 150px;
}

.contactDetails p {
  display: inline-block;
  padding: 12px 0px 5px 10px;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}

.previewWrapper {
  background: rgba(51, 170, 51, 0.1);
  margin-top: 50px;
}

.editButton {
  margin-top: 42px;
  border: none;
  background: no-repeat;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 18px;
  color: #fff;
}
table {
  background: #fff;
}
td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
